<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .form-container {
            max-width: 600px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
        }
        input[type="text"], select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="password"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h4><a href="/user-listing">Go Back</a></h4>
    <h1>Edit User</h1>
    <div class="form-container">
        <form action="/user-detail/<%= user.id %>" method="POST">
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" id="userName" name="userName" value="<%= user.username %>" required>
            </div>
            <div class="form-group"> 
                <label for="userPass">User Password</label> 
                <input type="password" id="userPass" name="userPass" placeholder="Enter New Password"> 
            </div>
            <div class="form-group">
                <label for="role">User Role</label>
                <select id="role" name="role" required>
                    <option value="0" <%= user.role === 0 ? 'selected' : '' %>>User</option>
                    <option value="1" <%= user.role === 1 ? 'selected' : '' %>>Admin</option>
                </select>
            </div>
            <div class="form-group">
                <label for="blockStatus">Blocked</label>
                <input type="checkbox" id="blockStatus" name="blockStatus" <%= user.block ? 'checked' : '' %>>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Update">
            </div>
        </form>
    </div>
</body>
</html>
